In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
from datetime import datetime

In [2]:
#pd.set_option('display.max_rows', None)  
#pd.set_option('display.max_columns', None) 

warnings.filterwarnings('ignore')

df = pd.read_csv("train.csv")
df.head()

,Basvuru Yili,Degerlendirme Puani,Cinsiyet,Dogum Tarihi,Dogum Yeri,Ikametgah Sehri,Universite Adi,Universite Turu,Burslu ise Burs Yuzdesi,Burs Aliyor mu?,...,Spor Dalindaki Rolunuz Nedir?,Aktif olarak bir STK üyesi misiniz?,Hangi STK'nin Uyesisiniz?,Stk Projesine Katildiniz Mi?,Girisimcilikle Ilgili Deneyiminiz Var Mi?,Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?,Ingilizce Biliyor musunuz?,Ingilizce Seviyeniz?,"Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite",id
0,2014,52.0,Erkek,4/6/1994,"Altindag, Ankara",Ankara,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Evet,...,Diğer,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,0
1,2014,30.0,Erkek,6/11/1993,Üsküdar,İstanbul,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Hayır,...,0,Hayır,NaN,Evet,Evet,Bilkent Cyberparkta bir şirkette Türkiye nin i...,NaN,NaN,NaN,1
2,2014,18.0,Erkek,1/15/1986,Samsun,İstanbul,ULUSLARARASI KIBRIS ÜNİVERSİTESİ,Özel,100.0,Hayır,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,2
3,2014,40.0,Erkek,6/4/1991,Diyarbakır,İstanbul,İSTANBUL ŞEHİR ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,3
4,2014,24.0,Erkek,2 Kasim 1992,Ankara/Altındağ,Ankara,TURGUT ÖZAL ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,4

In [3]:
df.isnull().sum().sort_values(ascending=True)

Basvuru Yili                                                     0
Burs Aliyor mu?                                                  0
id                                                               0
Degerlendirme Puani                                              1
Universite Adi                                                 132
Cinsiyet                                                       169
Dogum Tarihi                                                   177
Bölüm                                                          231
Baska Bir Kurumdan Burs Aliyor mu?                             231
Universite Turu                                                255
Universite Kacinci Sinif                                       374
Lise Adi                                                       384
Anne Egitim Durumu                                             406
Dogum Yeri                                                     791
Lise Turu                                                      847
Baba Egitim Durumu                                            1007
Lise Bolumu                                                   1009
Lise Sehir                                                    1054
Profesyonel Bir Spor Daliyla Mesgul musunuz?                  1115
Kardes Sayisi                                                 1132
Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?          1829
Ikametgah Sehri                                               2037
Universite Not Ortalamasi                                     2753
Lise Mezuniyet Notu                                           5917
Ingilizce Biliyor musunuz?                                    6454
Anne Calisma Durumu                                          11896
Baba Calisma Durumu                                          12618
Girisimcilikle Ilgili Deneyiminiz Var Mi?                    12840
Aktif olarak bir STK üyesi misiniz?                          12842
Baba Sektor                                                  20378
Stk Projesine Katildiniz Mi?                                 28308
Spor Dalindaki Rolunuz Nedir?                                32275
Anne Sektor                                                  34537
Ingilizce Seviyeniz?                                         36533
Daha Once Baska Bir Universiteden Mezun Olmus                37345
Burslu ise Burs Yuzdesi                                      42685
Burs Aldigi Baska Kurum                                      43977
Baska Kurumdan Aldigi Burs Miktari                           44162
Uye Oldugunuz Kulubun Ismi                                   48691
Hangi STK'nin Uyesisiniz?                                    49518
Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?    50526
Lise Adi Diger                                               60392
Lise Bolum Diger                                             63599
Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite        64706
dtype: int64

In [4]:
df = df.dropna(subset=['Degerlendirme Puani'])

In [5]:
def how_many_types(dataframe, col_name):
    
    diff_types = set(dataframe[col_name].apply(type))
    num_of_diff_types =len(diff_types)
    print(f"Sütunda {num_of_diff_types} farklı veri tipi var: {diff_types} ")

# Bütün harfleri küçük yapma
def all_letters_lowered(dataframe, col_name):
    """
    Belirtilen bir sütundaki tüm string değerleri küçük harfe çevirir.
    
    Parametreler:
    dataframe (pd.DataFrame): İşlem yapılacak DataFrame.
    col_name (str): Tüm string değerlerinin küçük harfe çevrileceği sütunun adı.
    
    İşlev:
    - Verilen sütundaki tüm string ifadeler `.str.lower()` ile küçük harfe dönüştürülür.
    
    Not:
    - Bu fonksiyon doğrudan orijinal DataFrame üzerinde değişiklik yapar (`inplace=True` gibi davranır).
    
    Örnek kullanım:
    all_letters_lowered(df, 'column_name')
    """
    dataframe[col_name] = dataframe[col_name].str.lower()


# Eşsiz değerleri ve NaN değerleri görme
def values_and_nulls(dataframe, col_name):
    """
    Belirtilen bir sütundaki eşsiz değerleri ve NaN değerlerinin sayısını gösterir.
    
    Parametreler:
    dataframe (pd.DataFrame): İşlem yapılacak DataFrame.
    col_name (str): Eşsiz değerlerin ve NaN değerlerinin sayısının hesaplanacağı sütun adı.
    
    İşlev:
    1. Sütundaki eşsiz değerleri ve bu değerlerin kaç kere tekrar ettiğini gösterir.
    2. Sütundaki NaN (eksik) değerlerin sayısını gösterir.
    
    Çıktı:
    - Sütundaki eşsiz değerlerin sıklığı.
    - NaN değerlerin sayısı.
    """
    print(dataframe[col_name].value_counts(), end="\n\n")
    print("NaN: ", dataframe[col_name].isnull().sum())

# NaN değerleri doldurma
def fill_missing_values(dataframe, col_name, value):
    """
    DataFrame'deki belirli bir sütundaki eksik (NaN) değerleri verilen değer ile doldurur.
    
    Parametreler:
    df (pd.DataFrame): İşlem yapılacak DataFrame.
    column (str): Eksik değerlerin doldurulacağı sütunun adı.
    value: Eksik değerlerin yerine yazılacak değer.
    """
    dataframe[col_name] = dataframe[col_name].fillna(value)

# CİNSİYET ✓

In [6]:
values_and_nulls(df, "Cinsiyet")

Cinsiyet
Kadın                    32076
Erkek                    22752
ERKEK                    10012
Belirtmek istemiyorum      115
Name: count, dtype: int64

NaN:  169

In [7]:
all_letters_lowered(df,"Cinsiyet")
fill_missing_values(df, "Cinsiyet", "Belirtmek istemiyorum")

In [8]:
mapping_sex = {"erkek": 1, "kadın": 2, "Belirtmek istemiyorum": 0}
df["Cinsiyet"] = df["Cinsiyet"].map(mapping_sex)
df["Cinsiyet"] = df["Cinsiyet"].fillna(0).astype(int)

In [9]:
values_and_nulls(df, "Cinsiyet")

Cinsiyet
1    32764
2    32076
0      284
Name: count, dtype: int64

NaN:  0

In [10]:
erkek_sayisi = len(df[df['Cinsiyet'] == 1])
kadin_sayisi = len(df[df['Cinsiyet'] == 2])
belirtmek_istemiyorum_sayisi = len(df[df['Cinsiyet'] == 0])

# Ağırlıklı dağıtım oranları
erkek_orani = erkek_sayisi / (erkek_sayisi + kadin_sayisi)
kadin_orani = kadin_sayisi / (erkek_sayisi + kadin_sayisi)

# Belirtmek istemiyorum'u cinsiyetlere dağıtma
erkek_eklenecek = int(belirtmek_istemiyorum_sayisi * erkek_orani)
kadin_eklenecek = belirtmek_istemiyorum_sayisi - erkek_eklenecek

# "Belirtmek İstemiyorum" olanları dağıtma
df.loc[df['Cinsiyet'] == 0, 'Cinsiyet'] = [1] * erkek_eklenecek + [2] * kadin_eklenecek

In [11]:
values_and_nulls(df, "Cinsiyet")

Cinsiyet
1    32907
2    32217
Name: count, dtype: int64

NaN:  0

# DOĞUM TARİHİ Atılabilir

In [12]:
values_and_nulls(df, "Dogum Tarihi")

Dogum Tarihi
1/1/70 2:00         1655
1/1/00 0:00          179
1/1/01 0:00          154
1/1/1997             139
1/1/1998             129
                    ...
1992-05-12             1
1997-03-19             1
1996-08-17             1
1991-04-23             1
12.11.2003 00:00       1
Name: count, Length: 13498, dtype: int64

NaN:  177

In [13]:
def fix_date(series, patterns=['%Y%m%d', '%d%m%Y', '%d/%m/%Y', '%d-%b-%Y']):
    datetimes = []
    for pat in patterns:
        datetimes.append(pd.to_datetime(series, format=pat, errors='coerce'))
    return pd.concat(datetimes, axis=1).ffill(axis=1).iloc[:, -1]

df['Dogum Tarihi'] = df['Dogum Tarihi'].replace({
    'Ocak': 'Jan', 'Şubat': 'Feb', 'Mart': 'Mar', 'Nisan': 'Apr',
    'Mayıs': 'May', 'Haziran': 'Jun', 'Temmuz': 'Jul', 'Ağustos': 'Aug',
    'Eylül': 'Sep', 'Ekim': 'Oct', 'Kasım': 'Nov', 'Aralık': 'Dec'
}, regex=True)


df["Dogum Tarihi"] = fix_date(df["Dogum Tarihi"])

In [14]:
values_and_nulls(df, "Dogum Tarihi")

Dogum Tarihi
1997-01-01    139
1998-01-01    129
1996-01-01    119
1995-01-01    106
1999-01-01     84
             ...
2000-12-05      1
1991-02-08      1
1989-11-08      1
1990-02-02      1
1996-04-17      1
Name: count, Length: 2726, dtype: int64

NaN:  49929

# Dogum Yeri, İkametgah Sehri, Lise Sehir ✓

In [15]:
df_ilce = pd.read_csv("il_ilce.csv")
values_and_nulls(df,"Dogum Yeri")
fill_missing_values(df,"Dogum Yeri", "Diğer")
fill_missing_values(df,"Lise Sehir", "Diğer")
fill_missing_values(df,"Ikametgah Sehri", "Diğer")

Dogum Yeri
İstanbul             8682
Ankara               4045
İzmir                2170
Istanbul             1894
Adana                1810
                     ...
körfez/kocaeli          1
GEDIZ                   1
İstanbul Bakırköy       1
İstanbul-Şişli          1
Ankara keçiören         1
Name: count, Length: 2230, dtype: int64

NaN:  791

In [16]:
from unidecode import unidecode

def clean_city(df, df_ilce):
    # Türkçe karakterleri ASCII karşılıklarına çeviren yardımcı fonksiyon
    def normalize_str(s):
        # Convert the input to uppercase to handle cases like "i" vs "İ"
        normalized = unidecode(s).upper()
        # Replace specific cases manually to handle exceptions
        replacements = {'I': 'I', 'İ': 'I', 'Ş': 'S', 'Ç': 'C', 'Ö': 'O', 'Ü': 'U', 'Ğ': 'G'}
        for turkish_char, ascii_char in replacements.items():
            normalized = normalized.replace(turkish_char, ascii_char)
        return normalized

    # İl ve ilçe isimlerini normalize edelim
    df_ilce['il_norm'] = df_ilce['il'].apply(normalize_str)
    df_ilce['ilce_norm'] = df_ilce['ilce'].apply(normalize_str)

    # İl-ilçe eşleşmelerini bir sözlükte saklayalım
    ilce_il_dict = dict(zip(df_ilce['ilce_norm'], df_ilce['il']))

    def update_city(dogum_yeri):
        dogum_yeri_norm = normalize_str(dogum_yeri)

        # Eğer girdi doğrudan bir il ise, olduğu gibi döndür
        if dogum_yeri_norm in df_ilce['il_norm'].values:
            return df_ilce.loc[df_ilce['il_norm'] == dogum_yeri_norm, 'il'].iloc[0]

        # Eğer girdi bir ilçe ise, ilini bul
        elif dogum_yeri_norm in ilce_il_dict:
            return ilce_il_dict[dogum_yeri_norm]

        # Eğer girdi hem il hem ilçe içeriyorsa, il kısmını al
        else:
            for il_norm in df_ilce['il_norm'].unique():
                if il_norm in dogum_yeri_norm:
                    return df_ilce.loc[df_ilce['il_norm'] == il_norm, 'il'].iloc[0]

        # Hiçbiri değilse "DİĞER" olarak işaretle
        return "Diğer"

    # Dogum Yeri sütununu güncelle
    df['Dogum Yeri'] = df['Dogum Yeri'].apply(update_city)
    df['Lise Sehir'] = df['Lise Sehir'].apply(update_city)
    df['Ikametgah Sehri'] = df['Ikametgah Sehri'].apply(update_city)

    return df

cities = ['adana', 'adıyaman', 'afyonkarahisar', 'ağrı', 'amasya', 'ankara', 'antalya', 'artvin',
                    'aydın', 'balıkesir', 'bilecik',  'bingöl', 'bitlis', 'bolu', 'burdur', 'bursa', 'çanakkale',
                    'çankırı', 'çorum', 'denizli', 'diyarbakır', 'edirne', 'elazığ',  'erzincan', 'erzurum', 'eskişehir',
                    'gaziantep', 'giresun', 'gümüşhane', 'hakkari', 'hatay', 'isparta', 'mersin', 'i̇stanbul',  'i̇zmir',
                    'kars', 'kastamonu', 'kayseri', 'kırklareli', 'kırşehir', 'kocaeli', 'konya', 'kütahya', 'malatya',
                    'manisa',  'kahramanmaraş', 'mardin', 'muğla', 'muş', 'nevşehir', 'niğde', 'ordu', 'rize', 'sakarya',
                    'samsun', 'siirt', 'sinop', 'sivas',  'tekirdağ', 'tokat', 'trabzon', 'tunceli', 'şanlıurfa', 'uşak',
                    'van', 'yozgat', 'zonguldak', 'aksaray', 'bayburt', 'karaman',  'kırıkkale', 'batman', 'şırnak', 'bartın',
                    'ardahan', 'iğdır', 'yalova', 'karabük', 'kilis', 'osmaniye', 'düzce']

all_letters_lowered(df,"Dogum Yeri")
all_letters_lowered(df_ilce,"il")
all_letters_lowered(df_ilce,"ilce")

def clean_city(df,df_ilce,col_name):
    df = df.merge(df_ilce, left_on=col_name, right_on='ilce', how='left')
    df[col_name] = df.apply(lambda row: row['il'] if pd.notnull(row['il']) else row[col_name], axis=1)
    df = df.drop(['ilce', 'il'], axis=1)
    df[col_name] = df[col_name].apply(lambda x: x if x in cities else "diğer")

clean_city(df, df_ilce, "Dogum Yeri")
clean_city(df, df_ilce, "Ikametgah Sehri")
clean_city(df, df_ilce, "Lise Sehir")

In [17]:
clean_city(df,df_ilce)

values_and_nulls(df,"Dogum Yeri")
values_and_nulls(df,"Lise Sehir")
values_and_nulls(df,"Ikametgah Sehri")

Dogum Yeri
İstanbul    11482
Ankara       4389
İzmir        2968
Bursa        1976
Adana        1948
            ...
Yalova        111
Bilecik       105
Kilis         101
Bayburt        80
Tunceli        57
Name: count, Length: 82, dtype: int64

NaN:  0
Lise Sehir
İstanbul     13359
Ankara        5170
İzmir         3476
Bursa         2366
Adana         1923
             ...
Çankırı         89
Bayburt         68
Gümüşhane       67
Ardahan         50
Tunceli         47
Name: count, Length: 82, dtype: int64

NaN:  0
Ikametgah Sehri
İstanbul    20228
Ankara       6602
İzmir        3893
Diğer        2366
Bursa        1794
            ...
Tunceli        65
Çankırı        64
Kilis          59
Artvin         57
Ardahan        34
Name: count, Length: 82, dtype: int64

NaN:  0

# Üniversite Adı ✓

In [18]:
values_and_nulls(df,"Universite Adi")

Universite Adi
İSTANBUL ÜNİVERSİTESİ                      2083
MARMARA ÜNİVERSİTESİ                       1672
İSTANBUL TEKNİK ÜNİVERSİTESİ               1464
YILDIZ TEKNİK ÜNİVERSİTESİ                 1438
ORTA DOĞU TEKNİK ÜNİVERSİTESİ              1258
                                           ...
Brown University                              1
ALANYA HAMDULLAH EMİN PAŞA ÜNİVERSİTESİ       1
İstanbul Bilim Üniversitesi                   1
AVRUPA MESLEK YÜKSEKOKULU                     1
İstanbul Atlas Üniversitesi                   1
Name: count, Length: 527, dtype: int64

NaN:  132

In [19]:

fill_missing_values(df,"Universite Adi","diger")

In [20]:
import unidecode

def standardize_name(name):
    name = name.strip()  # Başındaki ve sonundaki boşlukları kaldır
    name = ' '.join(name.split())  # Aralardaki fazla boşlukları tek boşlukla değiştir
    name = name.lower()  # Küçük harfe dönüştür
    name = unidecode.unidecode(name)  # Türkçe karakterleri İngilizce karakterlere dönüştür
    return name

# Uygulama
df['Universite Adi'] = df['Universite Adi'].apply(standardize_name)

In [21]:
# BURADAKİ 100 SAYISI MODELDEN SONRA DEĞİŞTİRİLİP TEKRAR DENENEBİLİR

uni_counts = df['Universite Adi'].value_counts()
values_to_update = uni_counts[uni_counts < 10].index
df['Universite Adi'] = df['Universite Adi'].apply(lambda x: 'diger' if x in values_to_update else x)

In [22]:
values_and_nulls(df,"Universite Adi")

Universite Adi
istanbul universitesi                              2572
marmara universitesi                               2084
istanbul teknik universitesi                       1954
yildiz teknik universitesi                         1916
orta dogu teknik universitesi                      1658
                                                   ...
istanbul sisli meslek universitesi                   10
lokman hekim universitesi                            10
gaziantep islam bilim ve teknoloji universitesi      10
ostim teknik universitesi                            10
istanbul topkapi universitesi                        10
Name: count, Length: 249, dtype: int64

NaN:  0

# Üniversite Türü  ✓

In [23]:
all_letters_lowered(df,"Universite Turu")
fill_missing_values(df,"Universite Turu" , "devlet") # burası modelden sonra oynanabilir.
values_and_nulls(df, "Universite Turu")

Universite Turu
devlet    53516
özel      11608
Name: count, dtype: int64

NaN:  0

# Burslu ise Burs Yuzdesi ✓

In [24]:
fill_missing_values(df,"Burslu ise Burs Yuzdesi",0)
values_and_nulls(df, "Burslu ise Burs Yuzdesi")

Burslu ise Burs Yuzdesi
0.0      54856
100.0     5049
50.0      3149
75.0      1002
25.0       785
10.0        50
60.0        27
1.0         26
65.0        17
80.0        15
5.0         14
30.0        14
85.0        11
2.0         10
55.0         8
62.5         7
62.0         7
35.0         7
45.0         6
7.0          6
70.0         5
99.0         5
20.0         5
40.0         4
90.0         4
63.0         4
6.0          4
3.0          2
8.0          2
98.0         2
46.0         1
82.5         1
69.0         1
88.0         1
64.0         1
4.0          1
87.5         1
57.5         1
57.0         1
91.5         1
11.0         1
41.5         1
49.0         1
74.0         1
72.0         1
32.0         1
48.0         1
37.0         1
67.0         1
41.0         1
67.5         1
Name: count, dtype: int64

NaN:  0

In [25]:
bins = [-1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91-100']

df['Burslu ise Burs Yuzdesi'] = pd.cut(df['Burslu ise Burs Yuzdesi'], bins=bins, labels=labels, right=True)

In [26]:
values_and_nulls(df,"Burslu ise Burs Yuzdesi")

Burslu ise Burs Yuzdesi
0-10      54971
91-100     5057
41-50      3160
71-80      1019
21-30       799
61-70        44
51-60        37
81-90        18
31-40        13
11-20         6
Name: count, dtype: int64

NaN:  0

# Burs Aliyor mu? ✓

In [27]:
all_letters_lowered(df, "Burs Aliyor mu?")

In [28]:
values_and_nulls(df,"Burs Aliyor mu?")

Burs Aliyor mu?
hayır    52249
evet     12875
Name: count, dtype: int64

NaN:  0

# Bölüm ✓

In [29]:
values_and_nulls(df,"Bölüm")
fill_missing_values(df,"Bölüm","diger")

Bölüm
Endüstri Mühendisliği               2434
İşletme                             2318
Bilgisayar Mühendisliği             1917
Hukuk                               1769
Makine Mühendisliği                 1283
                                    ...
Matematik Muhendisliği                 1
İlahiyat Fakultesi                     1
Petrol ve Doğal Gaz Mühendsiliği       1
radyo,sinema ve televizyon             1
Nanoteknoloji Mühendisliği             1
Name: count, Length: 7748, dtype: int64

NaN:  231

In [30]:
df["Bölüm"] = df["Bölüm"].apply(standardize_name)

In [31]:
department_counts = df["Bölüm"].value_counts()
values_to_update = department_counts[department_counts < 10].index
df["Bölüm"] = df["Bölüm"].apply(lambda x: 'diger' if x in values_to_update else x)

In [32]:
values_and_nulls(df,"Bölüm")

Bölüm
diger                                                9228
isletme                                              2913
endustri muhendisligi                                2835
bilgisayar muhendisligi                              2245
hukuk                                                2007
                                                     ...
sivil havacilik kabin hizmetleri                       10
makine muhendisligi(ingilizce)(%50 burslu)             10
deniz ulastirma ve isletme muhendisligi                10
metalurji ve malzeme muhendisligi(ikinci ogretim)      10
sigortacilik ve sosyal guvenlik                        10
Name: count, Length: 556, dtype: int64

NaN:  0

# Universite Kacinci Sinif ✓

In [33]:
values_and_nulls(df, "Universite Kacinci Sinif")

Universite Kacinci Sinif
2                21773
3                16956
4                13112
1                10260
Hazırlık          1275
5                  961
Mezun              178
6                  177
hazırlık            33
Yüksek Lisans       15
Tez                  7
0                    3
Name: count, dtype: int64

NaN:  374

In [34]:
all_letters_lowered(df,"Universite Kacinci Sinif")

In [35]:
values_and_nulls(df,"Universite Kacinci Sinif")

Universite Kacinci Sinif
2                21773
3                16956
4                13112
1                10260
hazırlık          1308
5                  961
mezun              178
6                  177
yüksek lisans       15
tez                  7
0                    3
Name: count, dtype: int64

NaN:  374

In [36]:
# Mod ile doldurdum.
mode_value = df['Universite Kacinci Sinif'].mode()[0]
fill_missing_values(df,"Universite Kacinci Sinif", mode_value)
values_and_nulls(df,"Universite Kacinci Sinif")

Universite Kacinci Sinif
2                22147
3                16956
4                13112
1                10260
hazırlık          1308
5                  961
mezun              178
6                  177
yüksek lisans       15
tez                  7
0                    3
Name: count, dtype: int64

NaN:  0

In [37]:
how_many_types(df,"Universite Kacinci Sinif")

Sütunda 1 farklı veri tipi var: {<class 'str'>}

In [38]:
grades = {
    '0': 7,
    '1' : 1,
    '2': 2,
    '3':3,
    '4':4,
    '5':5,
    '6':6,
    'hazırlık': 0,
    'mezun': 7,
    'yüksek lisans': 8,
    'tez': 9
}

df['Universite Kacinci Sinif'] = df['Universite Kacinci Sinif'].map(grades)

In [39]:
how_many_types(df,"Universite Kacinci Sinif")

Sütunda 1 farklı veri tipi var: {<class 'int'>}

In [40]:
df["Universite Kacinci Sinif"].nunique()

10

In [41]:
values_and_nulls(df,"Universite Kacinci Sinif")

Universite Kacinci Sinif
2    22147
3    16956
4    13112
1    10260
0     1308
5      961
7      181
6      177
8       15
9        7
Name: count, dtype: int64

NaN:  0

# Universite Not Ortalamasi ✓

In [42]:
all_letters_lowered(df,"Universite Not Ortalamasi")
values_and_nulls(df,"Universite Not Ortalamasi")

Universite Not Ortalamasi
3.00-2.50              10758
2.50 ve altı           10554
3.00 - 3.50             7913
3.50-3                  6179
2.50 - 3.00             5782
3.50 - 4.00             4462
ortalama bulunmuyor     2812
2.00 - 2.50             2519
2.50 - 2.99             2451
3.00 - 3.49             2382
2.50 -3.00              1734
3.00 - 4.00             1411
1.80 - 2.49             1166
hazırlığım               668
not ortalaması yok       586
4-3.5                    481
1.00 - 2.50              327
0 - 1.79                 185
4.0-3.5                    1
Name: count, dtype: int64

NaN:  2753

In [43]:
how_many_types(df,"Universite Not Ortalamasi")

Sütunda 2 farklı veri tipi var: {<class 'float'>, <class 'str'>}

In [44]:
fill_missing_values(df,"Universite Not Ortalamasi","yok")

In [45]:
how_many_types(df,"Universite Not Ortalamasi")

Sütunda 1 farklı veri tipi var: {<class 'str'>}

In [46]:
values_and_nulls(df,"Universite Not Ortalamasi")

Universite Not Ortalamasi
3.00-2.50              10758
2.50 ve altı           10554
3.00 - 3.50             7913
3.50-3                  6179
2.50 - 3.00             5782
3.50 - 4.00             4462
ortalama bulunmuyor     2812
yok                     2753
2.00 - 2.50             2519
2.50 - 2.99             2451
3.00 - 3.49             2382
2.50 -3.00              1734
3.00 - 4.00             1411
1.80 - 2.49             1166
hazırlığım               668
not ortalaması yok       586
4-3.5                    481
1.00 - 2.50              327
0 - 1.79                 185
4.0-3.5                    1
Name: count, dtype: int64

NaN:  0

In [47]:
gpa = {
    '3.50-3': 'iyi',
    '3.00-2.50': 'iyi',
    'yok': 'yok',
    '2.50 ve altı': 'kotu',
    '3.00 - 4.00': 'iyi',
    '3.50 - 4.00': 'harika',
    '3.00 - 3.50': 'iyi',
    '2.50 -3.00': 'iyi',
    'ortalama bulunmuyor': 'yok',
    '4-3.5': 'harika',
    '2.50 - 3.00': 'kotu',
    '2.00 - 2.50': 'kotu',
    '1.00 - 2.50': 'kotu',
    'not ortalaması yok': 'yok',
    '4.0-3.5':'harika',
    '3.00 - 3.49':  'iyi',
    '2.50 - 2.99':  'iyi',
    '1.80 - 2.49': 'kotu',
    'hazırlığım': 'yok',
    '0 - 1.79': 'kotu'
}
df['Universite Not Ortalamasi'] = df['Universite Not Ortalamasi'].map(gpa)

In [48]:
values_and_nulls(df,"Universite Not Ortalamasi")

Universite Not Ortalamasi
iyi       32828
kotu      20533
yok        6819
harika     4944
Name: count, dtype: int64

NaN:  0

# Daha Once Baska Bir Universiteden Mezun Olmus ✓

In [49]:
all_letters_lowered(df,"Daha Once Baska Bir Universiteden Mezun Olmus")
values_and_nulls(df,"Daha Once Baska Bir Universiteden Mezun Olmus")

Daha Once Baska Bir Universiteden Mezun Olmus
hayır    26624
evet      1156
Name: count, dtype: int64

NaN:  37344

In [50]:
fill_missing_values(df,"Daha Once Baska Bir Universiteden Mezun Olmus","hayır")
values_and_nulls(df,"Daha Once Baska Bir Universiteden Mezun Olmus")

Daha Once Baska Bir Universiteden Mezun Olmus
hayır    63968
evet      1156
Name: count, dtype: int64

NaN:  0

# Lise Adi ✓

In [51]:
values_and_nulls(df,"Lise Adi")

Lise Adi
------                                                                             4251
Atatürk Lisesi                                                                      199
Açık öğretim lisesi                                                                 161
Açık Öğretim Lisesi                                                                 151
Cumhuriyet Anadolu Lisesi                                                           146
                                                                                   ...
Nişantaşı Işık Lisesi                                                                 1
Tarsus atatürk lisesi                                                                 1
Hüsniye Özdilek Ticaret ve İletişim Anadolu Lisesi (Radyo ve Televizyon Bölümü)       1
Ses okulları                                                                          1
Samsun Terme Karadeniz mesleki teknik Anadolu lisesi                                  1
Name: count, Length: 31950, dtype: int64

NaN:  384

In [52]:
all_letters_lowered(df,"Lise Adi")
def name_highschool(df, column_name):
    df.loc[df[column_name].str.contains('anadolu', case=False, na=False), column_name] = 'anadolu'
    df.loc[df[column_name].str.contains('fen', case=False, na=False), column_name] = 'fen'
    df.loc[
        (df[column_name].str.contains('meslek', case=False, na=False)) |
        (df[column_name].str.contains('ticar', case=False, na=False)) ,
        column_name
    ] = 'meslek'
    df.loc[df[column_name].str.contains('atatürk', case=False, na=False), column_name] = 'atatürk'
    
    hs = {
    'anadolu': 1,
    'fen': 2,
    'meslek': 3,
    'atatürk': 4,
    }
    
    df[column_name] = df[column_name].map(hs)

In [53]:
name_highschool(df,"Lise Adi")

fill_missing_values(df,"Lise Adi","diğer")
df['Lise Adi'] = df['Lise Adi'].replace('diğer', 0)
values_and_nulls(df,"Lise Adi")

Lise Adi
1.0    35889
0.0    21375
2.0     5442
3.0     1788
4.0      630
Name: count, dtype: int64

NaN:  0

# Lise Türü ✓

In [54]:
values_and_nulls(df,"Lise Turu")

Lise Turu
Anadolu Lisesi       13367
Diğer                13184
Anadolu lisesi        7002
Devlet                6203
Özel                  4746
Düz lise              4179
Meslek lisesi         3666
Düz Lise              2789
Meslek                2454
Fen Lisesi            2159
Özel Lisesi           1474
İmam Hatip Lisesi     1158
Fen lisesi             660
Özel lisesi            489
Meslek Lisesi          415
Özel Lise              332
Name: count, dtype: int64

NaN:  847

In [55]:
def kind_highschool(df, column_name):
    df.loc[df[column_name].str.contains('anadolu', case=False, na=False), column_name] = 'anadolu'
    df.loc[df[column_name].str.contains('fen', case=False, na=False), column_name] = 'fen'
    df.loc[(df[column_name].str.contains('meslek', case=False, na=False)) ,column_name] = 'meslek'
    df.loc[df[column_name].str.contains('özel', case=False, na=False), column_name] = 'özel'
    df.loc[df[column_name].str.contains('imam', case=False, na=False), column_name] = 'imam hatip'
    df.loc[df[column_name].str.contains('düz', case=False, na=False), column_name] = 'düz'
    df.loc[df[column_name].str.contains('diğer', case=False, na=False), column_name] = 'diğer'
    df.loc[df[column_name].str.contains('devlet', case=False, na=False), column_name] = 'devlet'
    
    hs = {
    'anadolu': 1,
    'fen': 2,
    'meslek': 3,
    'özel': 4,
    'imam hatip':5,
    'düz':6,
    'devlet':7,
    'diğer':0
    }
    
    df[column_name] = df[column_name].map(hs)

In [56]:
fill_missing_values(df,"Lise Turu","diğer")
kind_highschool(df,"Lise Turu")

In [57]:
values_and_nulls(df,"Lise Turu")

Lise Turu
1    20369
0    14031
4     7041
6     6968
3     6535
7     6203
2     2819
5     1158
Name: count, dtype: int64

NaN:  0

# Lise Bolumu ✓

In [58]:
values_and_nulls(df,"Lise Bolumu")

Lise Bolumu
Sayısal                                28980
Eşit Ağırlık                           16936
FEN SAYISAL BİLİMLERİ ALANI             3995
Sözel                                   3630
EŞİT AĞIRLIK TÜRKÇE-MATEMATİK ALANI     2786
                                       ...
Arkeoloji                                  1
ELEKTİRİK VE ELEKTRONİK BÖLÜMÜ             1
sosyal Bilgiler                            1
Doğalgaz be tesisat teknolojileri          1
Giyim Üretim Teknolojisi                   1
Name: count, Length: 887, dtype: int64

NaN:  1009

In [59]:
fill_missing_values(df,"Bölüm","diger")
df["Lise Bolumu"] = df["Lise Bolumu"].apply(lambda x: "diger" if isinstance(x, float) else x)
df["Lise Bolumu"]

0                  MF
1                  MF
2            Elektirk
3             Sayısal
4                  TM
             ...
65119         Sayısal
65120    Eşit Ağırlık
65121    Eşit Ağırlık
65122         Sayısal
65123           Sözel
Name: Lise Bolumu, Length: 65124, dtype: object

In [60]:
import re
import unicodedata
def normalize_text(text):
    # Küçük harfe çevir
    text = text.lower()

    # Türkçe karakterleri İngilizce karakterlere dönüştür
    replacements = {
        'ç': 'c', 'ğ': 'g', 'ı': 'i', 'ö': 'o', 'ş': 's', 'ü': 'u'
    }
    for turkish_char, english_char in replacements.items():
        text = text.replace(turkish_char, english_char)
    
    # Unicode normalizasyonu yaparak özel karakterleri temizle
    text = unicodedata.normalize('NFKD', text)
    text = ''.join([c for c in text if not unicodedata.combining(c)])

    # Özel karakterleri sil (sadece harfler ve sayılar kalsın)
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)

    return text

# Veri setindeki bir sütuna uygulamak için
def normalize_column(df, column_name):
    df[column_name] = df[column_name].apply(normalize_text)
    return df
normalize_column(df,"Lise Bolumu")

,Basvuru Yili,Degerlendirme Puani,Cinsiyet,Dogum Tarihi,Dogum Yeri,Ikametgah Sehri,Universite Adi,Universite Turu,Burslu ise Burs Yuzdesi,Burs Aliyor mu?,...,Spor Dalindaki Rolunuz Nedir?,Aktif olarak bir STK üyesi misiniz?,Hangi STK'nin Uyesisiniz?,Stk Projesine Katildiniz Mi?,Girisimcilikle Ilgili Deneyiminiz Var Mi?,Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?,Ingilizce Biliyor musunuz?,Ingilizce Seviyeniz?,"Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite",id
0,2014,52.0,1,1994-06-04,Ankara,Ankara,ihsan dogramaci bilkent,özel,91-100,evet,...,Diğer,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,0
1,2014,30.0,1,1993-11-06,İstanbul,İstanbul,ihsan dogramaci bilkent,özel,91-100,hayır,...,0,Hayır,NaN,Evet,Evet,Bilkent Cyberparkta bir şirkette Türkiye nin i...,NaN,NaN,NaN,1
2,2014,18.0,1,NaT,Samsun,İstanbul,uluslararasi kibris universitesi,özel,91-100,hayır,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,2
3,2014,40.0,1,1991-04-06,Diyarbakır,İstanbul,istanbul sehir universitesi,özel,91-100,evet,...,0,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,3
4,2014,24.0,1,NaT,Ankara,Ankara,turgut ozal universitesi,özel,91-100,evet,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65119,2022,0.0,1,NaT,İzmir,İzmir,dokuz eylul universitesi,devlet,0-10,hayır,...,-,Hayır,-,NaN,Hayır,-,Hayır,NaN,NaN,65119
65120,2022,0.0,1,NaT,İstanbul,İstanbul,istanbul aydin universitesi,özel,0-10,evet,...,-,Hayır,-,NaN,Hayır,-,Hayır,NaN,NaN,65120
65121,2022,0.0,1,NaT,Hatay,Muğla,mugla sitki kocman universitesi,devlet,0-10,hayır,...,-,Hayır,-,NaN,Hayır,-,Hayır,NaN,NaN,65121
65122,2022,0.0,1,NaT,Mersin,Mersin,suleyman demirel universitesi,devlet,0-10,hayır,...,-,Hayır,-,NaN,Hayır,-,Hayır,NaN,NaN,65122
65123,2022,0.0,1,NaT,Samsun,Samsun,karabuk universitesi,devlet,0-10,hayır,...,-,Hayır,-,NaN,Hayır,-,Hayır,NaN,NaN,65123

In [61]:
belirli_bolumler = ["sayısal", "dil", "eşit ağırlık","sözel"]
df['Lise Bolumu'] = df['Lise Bolumu'].apply(lambda x: x if x in belirli_bolumler else "diger")

In [62]:
values_and_nulls(df,"Lise Bolumu")

Lise Bolumu
diger    64340
dil        784
Name: count, dtype: int64

NaN:  0

# Lise Mezuniyet Notu ✓

In [63]:
values_and_nulls(df,"Lise Mezuniyet Notu")
fill_missing_values(df,"Lise Mezuniyet Notu",0)
df["Lise Mezuniyet Notu"] = df["Lise Mezuniyet Notu"].replace('Not ortalaması yok', 0)

Lise Mezuniyet Notu
75 - 100              22432
84-70                  9141
100-85                 6967
4.00-3.50              3689
50 - 75                3115
3.00 - 4.00            3101
3.50-3.00              2759
3.50-3                 2330
69-55                  2162
3.00-2.50              2153
50 - 74                1007
2.50 ve altı            226
54-45                    88
25 - 50                  14
Not ortalaması yok       11
44-0                      6
0 - 25                    3
25 - 49                   2
0 - 24                    1
Name: count, dtype: int64

NaN:  5917

In [64]:
highs_grades = {
    '75 - 100': 'A+',
    '84-70': 'B',
    '100-85': 'A+',
    '0':'C',
    '4.00-3.50': 'A+',
    '50 - 75': 'A',
    '3.00 - 4.00': 'B',
    '3.50-3.00': 'B',
    '3.50-3': 'B',
    '69-55': 'A',
    '3.00-2.50': 'A',
    '50 - 74': 'A',
    '2.50 ve altı': 'A',
    '54-45': 'C',
    '25 - 50': 'C',
    '44-0': 'C',
    '0 - 25': 'C',
    '25 - 49': 'C',
    '0 - 24': 'C',
    0: 'C'
}
df["Lise Mezuniyet Notu"] = df["Lise Mezuniyet Notu"].map(highs_grades)

In [65]:
values_and_nulls(df,"Lise Mezuniyet Notu")

Lise Mezuniyet Notu
A+    33088
B     17331
A      8663
C      6042
Name: count, dtype: int64

NaN:  0

# Baska Bir Kurumdan Burs Aliyor mu? ✓

In [66]:
all_letters_lowered(df,"Baska Bir Kurumdan Burs Aliyor mu?")
values_and_nulls(df,"Baska Bir Kurumdan Burs Aliyor mu?")

Baska Bir Kurumdan Burs Aliyor mu?
hayır    48513
evet     16380
Name: count, dtype: int64

NaN:  231

In [67]:
fill_missing_values(df,"Baska Bir Kurumdan Burs Aliyor mu?","hayır")
values_and_nulls(df,"Baska Bir Kurumdan Burs Aliyor mu?")

Baska Bir Kurumdan Burs Aliyor mu?
hayır    48744
evet     16380
Name: count, dtype: int64

NaN:  0

# Burs Aldigi Baska Kurum BİTTİ AMA İÇİN TR ENG çatışmasını önleyen fonksiyon var

In [68]:
all_letters_lowered(df,"Burs Aldigi Baska Kurum")
values_and_nulls(df,"Burs Aldigi Baska Kurum")

Burs Aldigi Baska Kurum
kyk                                      6666
-                                        4711
kredi ve yurtlar kurumu                   895
kredi yurtlar kurumu                      756
kyk bursu                                 526
                                         ...
divriği kültür derneği                      1
şoförler ve otomobilciler esnaf odası       1
kasapoğlu vakfı                             1
kızılcahamam ve çamlıdereliler vakfı        1
kyk yök bursu                               1
Name: count, Length: 3375, dtype: int64

NaN:  43977

In [69]:
def sade(df, col_name, word_map):
    # Sütundaki her satırı kontrol et
    def replace_word(text):
        standardized_text = standardize_name(text)
        # Her kelime listesi için kontrol et
        for target_word, word_list in word_map.items():
            if any(word in standardized_text for word in word_list):
                return target_word
        return standardized_text

    df[col_name] = df[col_name].apply(replace_word)

In [70]:
df['Burs Aldigi Baska Kurum'] = df['Burs Aldigi Baska Kurum'].apply(lambda x: "almiyor" if isinstance(x, float) else x)

In [71]:
scholar_list = {
                "kyk" : ["kyk","kredi","yurtlar","ky",],
                "tev" : ["tev","türk eğitim vakfı","turk eğitim vakfı"],
                "devlet" : ["devlet"],
                "gsb": ["gsb","genclik ve spor bakanligi"],
                "vgm" : ["vgm","vakiflar genel mudurlugu"],
                "almiyor": ["almiyorum","hayir", "-"]
                }

sade(df,"Burs Aldigi Baska Kurum",scholar_list)

KYK, kyk, Kyk gibi farklı türevleri hızlıca birleştirmek için hepsini küçük karakter yapıyoruz. Diğer bazı sütunlarda da böyle.
all_letters_lowered(df,"Burs Aldigi Baska Kurum")
values_and_nulls(df,"Burs Aldigi Baska Kurum")

In [72]:
values_and_nulls(df,"Burs Aldigi Baska Kurum")

Burs Aldigi Baska Kurum
almiyor                                    48785
kyk                                        11366
devlet                                       620
tev                                          129
cagdas yasami destekleme dernegi             128
                                           ...
ankablo limited sirketi                        1
rumelililer dernegi                            1
kadikoy anadolu lisesi mezunlar dernegi        1
bektas vakfi                                   1
nuh cimento vakfi                              1
Name: count, Length: 1849, dtype: int64

NaN:  0

In [73]:
value_counts = df['Burs Aldigi Baska Kurum'].value_counts()
values_to_update = value_counts[value_counts < 124].index
df['Burs Aldigi Baska Kurum'] = df['Burs Aldigi Baska Kurum'].apply(lambda x: 'diger' if x in values_to_update else x)

In [74]:
values_and_nulls(df,"Burs Aldigi Baska Kurum")

Burs Aldigi Baska Kurum
almiyor                             48785
kyk                                 11366
diger                                3971
devlet                                620
tev                                   129
cagdas yasami destekleme dernegi      128
gsb                                   125
Name: count, dtype: int64

NaN:  0

# Anne Egitim Durumu & Baba Egitim Durumu ✓

In [75]:
def update_edu(df, column_name):
    df.loc[df[column_name].str.contains('ilkokul', case=False, na=False), column_name] = 'ilkokul'
    df.loc[df[column_name].str.contains('lise', case=False, na=False), column_name] = 'lise'
    df.loc[df[column_name].str.contains('üniversite', case=False, na=False), column_name] = 'üniversite'
    df.loc[df[column_name].str.contains('doktora', case=False, na=False), column_name] = 'doktora'
    df.loc[df[column_name].str.contains('yüksek', case=False, na=False), column_name] = 'yüksek lisans'
    df.loc[df[column_name].str.contains('ortaokul', case=False, na=False), column_name] = 'ortaokul'
    df.loc[
        (df[column_name].str.contains('0', case=False, na=False)) |
        (df[column_name].str.contains('eğitimi yok', case=False, na=False)) |
        (df[column_name].str.contains('eğitim yok', case=False, na=False)),
        column_name
    ] = 'yok'
    
    _edu = {
    'ilkokul': 1,
    'ortaokul': 2,
    'lise': 3,
    'üniversite': 4,
    'yüksek lisans': 5,
    'doktora': 6,
    'yok': 0
    }
    fill_missing_values(df,column_name,"yok")
    df[column_name] = df[column_name].map(_edu)

In [76]:
update_edu(df,"Anne Egitim Durumu")
update_edu(df,"Baba Egitim Durumu")

# Anne Çalışma Durumu & Baba Çalışma Durumu ✓

In [77]:
fill_missing_values(df,"Anne Calisma Durumu","yok")
fill_missing_values(df,"Baba Calisma Durumu","yok")

In [78]:
work = {
    'Hayır': 1,
    'Evet': 2,
    'Emekli': 3,
    'yok': 0,
    }
df["Baba Calisma Durumu"] = df["Baba Calisma Durumu"].map(work)
df["Anne Calisma Durumu"] = df["Anne Calisma Durumu"].map(work)

In [79]:
values_and_nulls(df,"Anne Calisma Durumu")
values_and_nulls(df,"Baba Calisma Durumu")

Anne Calisma Durumu
1    39370
0    11896
2    10504
3     3354
Name: count, dtype: int64

NaN:  0
Baba Calisma Durumu
2    28558
0    12618
1    12486
3    11462
Name: count, dtype: int64

NaN:  0

# Anne Sektor & Baba Sektor ✓

In [80]:
def update_sector(df, column_name):
    df.loc[df[column_name].str.contains('özel', case=False, na=False), column_name] = 'özel'
    df.loc[df[column_name].str.contains('kamu', case=False, na=False), column_name] = 'kamu'
    df.loc[df[column_name].str.contains('diğer', case=False, na=False), column_name] = 'diğer'
    df.loc[
        (df[column_name].str.contains('0', case=False, na=False)) |
        (df[column_name].str.contains('-', case=False, na=False)) ,
        column_name
    ] = 'yok'
    
    sector = {
    'kamu': 1,
    'özel': 2,
    'diğer': 3,
    'yok': 0,
    }
    fill_missing_values(df,column_name,"yok")
    df[column_name] = df[column_name].map(sector)

In [81]:
update_sector(df,"Baba Sektor")
update_sector(df,"Anne Sektor")

# Kardes Sayisi ✓

In [82]:
values_and_nulls(df,"Kardes Sayisi")
how_many_types(df,"Kardes Sayisi")
df['Kardes Sayisi'] = df['Kardes Sayisi'].replace('Kardeş Sayısı 1 Ek Bilgi Aile Hk. Anne Vefat', 1)
fill_missing_values(df,"Kardes Sayisi",0)
df['Kardes Sayisi'] = df['Kardes Sayisi'].astype(int)

Kardes Sayisi
1.0                                             16186
2.0                                             13061
3.0                                              6734
1                                                6054
4.0                                              4611
2                                                3938
0.0                                              3701
5.0                                              3421
3                                                2087
0                                                1381
4                                                 998
5                                                 715
6.0                                               206
7.0                                               159
6                                                 135
10.0                                              127
7                                                 119
8.0                                                98
9.0                                                79
8                                                  75
9                                                  43
10                                                 42
11                                                 12
12                                                  5
13                                                  2
14                                                  1
18                                                  1
Kardeş Sayısı 1 Ek Bilgi Aile Hk. Anne Vefat        1
Name: count, dtype: int64

NaN:  1132
Sütunda 2 farklı veri tipi var: {<class 'float'>, <class 'str'>}

In [83]:
# 6 ve 6dan fazlaları bir araya getirdim.
df['Kardes Sayisi'] = df['Kardes Sayisi'].apply(lambda x: 6 if x >= 6 else x)
values_and_nulls(df,"Kardes Sayisi")

Kardes Sayisi
1    22241
2    16999
3     8821
0     6214
4     5609
5     4136
6     1104
Name: count, dtype: int64

NaN:  0

# Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz? ✓

In [84]:
values_and_nulls(df,"Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?")

Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?
Hayır    33709
Evet     29586
Name: count, dtype: int64

NaN:  1829

In [85]:
fill_missing_values(df,"Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?","Hayır")

# Uye Oldugunuz Kulubun Ismi SONRA BAKICAM !!!!!!!!!!!!!!!!!!!!!

# Profesyonel Bir Spor Daliyla Mesgul musunuz? ✓

In [86]:
values_and_nulls(df,"Profesyonel Bir Spor Daliyla Mesgul musunuz?")

Profesyonel Bir Spor Daliyla Mesgul musunuz?
Hayır    42243
Evet     21766
Name: count, dtype: int64

NaN:  1115

In [87]:
fill_missing_values(df,"Profesyonel Bir Spor Daliyla Mesgul musunuz?","Hayır")

# Spor Dalindaki Rolunuz Nedir BİDAHA BAK !!!!!!!!!

In [88]:
values_and_nulls(df,"Spor Dalindaki Rolunuz Nedir?")

Spor Dalindaki Rolunuz Nedir?
0                 11315
Diğer              8836
-                  4173
Lider/Kaptan       1994
DİĞER              1945
Bireysel           1697
Takım Oyuncusu     1174
Kaptan              873
KAPTAN / LİDER      842
Name: count, dtype: int64

NaN:  32275

In [89]:
fill_missing_values(df,"Spor Dalindaki Rolunuz Nedir?","yok")

df['Spor Dalindaki Rolunuz Nedir?'] = df['Spor Dalindaki Rolunuz Nedir?'].apply(lambda x: "diger" if isinstance(x, float) else x)

In [90]:
sport_role = {
                "kaptan" : ["kaptan","lider"],
                "diger" : ["takim oyuncusu","-","0","bireysel"],
                }

sade(df,"Spor Dalindaki Rolunuz Nedir?",sport_role)

In [91]:
values_and_nulls(df,"Spor Dalindaki Rolunuz Nedir?")

Spor Dalindaki Rolunuz Nedir?
yok       32275
diger     29140
kaptan     3709
Name: count, dtype: int64

NaN:  0

# Aktif olarak bir STK üyesi misiniz? ✓

In [92]:
values_and_nulls(df,"Aktif olarak bir STK üyesi misiniz?")

Aktif olarak bir STK üyesi misiniz?
Hayır    37716
Evet     14566
Name: count, dtype: int64

NaN:  12842

In [93]:
fill_missing_values(df,"Aktif olarak bir STK üyesi misiniz?","Hayır")

In [94]:
values_and_nulls(df,"Aktif olarak bir STK üyesi misiniz?")

Aktif olarak bir STK üyesi misiniz?
Hayır    50558
Evet     14566
Name: count, dtype: int64

NaN:  0

# Hangi STK'nin Uyesisiniz?

# Stk Projesine Katildiniz Mi? ✓

In [95]:
values_and_nulls(df,"Stk Projesine Katildiniz Mi?")

Stk Projesine Katildiniz Mi?
Hayır    19661
Evet     17156
Name: count, dtype: int64

NaN:  28307

In [96]:
fill_missing_values(df,"Stk Projesine Katildiniz Mi?","Hayır")

In [97]:
values_and_nulls(df,"Stk Projesine Katildiniz Mi?")

Stk Projesine Katildiniz Mi?
Hayır    47968
Evet     17156
Name: count, dtype: int64

NaN:  0

# Girisimcilikle Ilgili Deneyiminiz Var Mi? ✓

In [98]:
values_and_nulls(df,"Girisimcilikle Ilgili Deneyiminiz Var Mi?")

Girisimcilikle Ilgili Deneyiminiz Var Mi?
Hayır    33919
Evet     18365
Name: count, dtype: int64

NaN:  12840

In [99]:
fill_missing_values(df,"Girisimcilikle Ilgili Deneyiminiz Var Mi?","Hayır")

In [100]:
values_and_nulls(df,"Girisimcilikle Ilgili Deneyiminiz Var Mi?")

Girisimcilikle Ilgili Deneyiminiz Var Mi?
Hayır    46759
Evet     18365
Name: count, dtype: int64

NaN:  0

# Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?

# Ingilizce Biliyor musunuz? ✓

In [101]:
values_and_nulls(df,"Ingilizce Biliyor musunuz?")

Ingilizce Biliyor musunuz?
Evet     48871
Hayır     9799
Name: count, dtype: int64

NaN:  6454

In [102]:
fill_missing_values(df,"Ingilizce Biliyor musunuz?","Hayır")

In [103]:
values_and_nulls(df,"Ingilizce Biliyor musunuz?")

Ingilizce Biliyor musunuz?
Evet     48871
Hayır    16253
Name: count, dtype: int64

NaN:  0

# Ingilizce Seviyeniz? ✓

In [104]:
values_and_nulls(df,"Ingilizce Seviyeniz?")

Ingilizce Seviyeniz?
Orta         13057
İleri         8318
Başlangıç     5180
0             2037
Name: count, dtype: int64

NaN:  36532

In [105]:
fill_missing_values(df,"Ingilizce Seviyeniz?","0")

In [106]:
values_and_nulls(df,"Ingilizce Seviyeniz?")

Ingilizce Seviyeniz?
0            38569
Orta         13057
İleri         8318
Başlangıç     5180
Name: count, dtype: int64

NaN:  0

In [107]:
values_and_nulls(df,"Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite")

Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite
Anadolu Üniversitesi             26
ANADOLU ÜNİVERSİTESİ             19
MARMARA ÜNİVERSİTESİ             11
İSTANBUL ÜNİVERSİTESİ             8
KOCAELİ ÜNİVERSİTESİ              7
                                 ..
Bitlis Eren Üniversitesi          1
Bingöl Üniversitesi               1
İstanbul Kültür Üniversitesi      1
Orta Doğu Teknik Üniversitesi     1
HASAN KALYONCU ÜNİVERSİTESİ       1
Name: count, Length: 168, dtype: int64

NaN:  64705

# ŞİMDİLİK 0 LAR İLE DOLDURACAĞIM SÜTUNLAR

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65124 entries, 0 to 65123
Data columns (total 44 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Basvuru Yili                                               65124 non-null  int64
 1   Degerlendirme Puani                                        65124 non-null  float64
 2   Cinsiyet                                                   65124 non-null  int32
 3   Dogum Tarihi                                               15195 non-null  datetime64[ns]
 4   Dogum Yeri                                                 65124 non-null  object
 5   Ikametgah Sehri                                            65124 non-null  object
 6   Universite Adi                                             65124 non-null  object
 7   Universite Turu                                            65124 non-null  object
 8   Burslu ise Burs Yuzdesi                                    65124 non-null  category
 9   Burs Aliyor mu?                                            65124 non-null  object
 10  Bölüm                                                      65124 non-null  object
 11  Universite Kacinci Sinif                                   65124 non-null  int64
 12  Universite Not Ortalamasi                                  65124 non-null  object
 13  Daha Once Baska Bir Universiteden Mezun Olmus              65124 non-null  object
 14  Lise Adi                                                   65124 non-null  float64
 15  Lise Adi Diger                                             4733 non-null   object
 16  Lise Sehir                                                 65124 non-null  object
 17  Lise Turu                                                  65124 non-null  int64
 18  Lise Bolumu                                                65124 non-null  object
 19  Lise Bolum Diger                                           1526 non-null   object
 20  Lise Mezuniyet Notu                                        65124 non-null  object
 21  Baska Bir Kurumdan Burs Aliyor mu?                         65124 non-null  object
 22  Burs Aldigi Baska Kurum                                    65124 non-null  object
 23  Baska Kurumdan Aldigi Burs Miktari                         20962 non-null  object
 24  Anne Egitim Durumu                                         65124 non-null  int64
 25  Anne Calisma Durumu                                        65124 non-null  int64
 26  Anne Sektor                                                65124 non-null  int64
 27  Baba Egitim Durumu                                         65124 non-null  int64
 28  Baba Calisma Durumu                                        65124 non-null  int64
 29  Baba Sektor                                                65124 non-null  int64
 30  Kardes Sayisi                                              65124 non-null  int64
 31  Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?       65124 non-null  object
 32  Uye Oldugunuz Kulubun Ismi                                 16434 non-null  object
 33  Profesyonel Bir Spor Daliyla Mesgul musunuz?               65124 non-null  object
 34  Spor Dalindaki Rolunuz Nedir?                              65124 non-null  object
 35  Aktif olarak bir STK üyesi misiniz?                        65124 non-null  object
 36  Hangi STK'nin Uyesisiniz?                                  15606 non-null  object
 37  Stk Projesine Katildiniz Mi?                               65124 non-null  object
 38  Girisimcilikle Ilgili Deneyiminiz Var Mi?                  65124 non-null  object
 39  Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?  14598 non-null  object
 40  Ingilizce Biliyor musunuz?                                 65124 non-null  object
 41  Ingilizce Seviyeniz?                                       65124 non-null  object
 42  Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite      419 non-null    object
 43  id                                                         65124 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(2), int32(1), int64(11), object(28)
memory usage: 21.7+ MB

In [109]:
# ŞİMDİLİK 0 LAR İLE DOLDURACAĞIM SÜTUNLAR

# Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite
# Uye Oldugunuz Kulubun Ismi
# Lise Adi Diger
# Hangi STK'nin Uyesisiniz?
# Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?
# Lise Bolum Diger

In [110]:
zero_columns = [
    'Lise Adi Diger',
    'Lise Bolum Diger',
    'Daha Once Baska Bir Universiteden Mezun Olmus',
    'Uye Oldugunuz Kulubun Ismi',
    'Hangi STK\'nin Uyesisiniz?',
    'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?',
    'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite',
    'Baska Kurumdan Aldigi Burs Miktari'
]

df[zero_columns] = df[zero_columns].fillna(0)

In [111]:
df.isnull().sum().sort_values(ascending=True)

Basvuru Yili                                                     0
Anne Egitim Durumu                                               0
Anne Calisma Durumu                                              0
Anne Sektor                                                      0
Baba Egitim Durumu                                               0
Baba Calisma Durumu                                              0
Baba Sektor                                                      0
Kardes Sayisi                                                    0
Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?             0
Baska Kurumdan Aldigi Burs Miktari                               0
Uye Oldugunuz Kulubun Ismi                                       0
Spor Dalindaki Rolunuz Nedir?                                    0
Aktif olarak bir STK üyesi misiniz?                              0
Hangi STK'nin Uyesisiniz?                                        0
Stk Projesine Katildiniz Mi?                                     0
Girisimcilikle Ilgili Deneyiminiz Var Mi?                        0
Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?        0
Ingilizce Biliyor musunuz?                                       0
Ingilizce Seviyeniz?                                             0
Profesyonel Bir Spor Daliyla Mesgul musunuz?                     0
Burs Aldigi Baska Kurum                                          0
Baska Bir Kurumdan Burs Aliyor mu?                               0
Lise Mezuniyet Notu                                              0
Degerlendirme Puani                                              0
Cinsiyet                                                         0
Dogum Yeri                                                       0
Ikametgah Sehri                                                  0
Universite Adi                                                   0
Universite Turu                                                  0
Burslu ise Burs Yuzdesi                                          0
Burs Aliyor mu?                                                  0
Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite            0
Bölüm                                                            0
Universite Not Ortalamasi                                        0
Daha Once Baska Bir Universiteden Mezun Olmus                    0
Lise Adi                                                         0
Lise Adi Diger                                                   0
Lise Sehir                                                       0
Lise Turu                                                        0
Lise Bolumu                                                      0
Lise Bolum Diger                                                 0
Universite Kacinci Sinif                                         0
id                                                               0
Dogum Tarihi                                                 49929
dtype: int64

In [112]:
cat_cols = [col for col in df.columns if str(df[col].dtypes) in ["category", "object", "bool"]]
cat_cols

['Dogum Yeri',
 'Ikametgah Sehri',
 'Universite Adi',
 'Universite Turu',
 'Burslu ise Burs Yuzdesi',
 'Burs Aliyor mu?',
 'Bölüm',
 'Universite Not Ortalamasi',
 'Daha Once Baska Bir Universiteden Mezun Olmus',
 'Lise Adi Diger',
 'Lise Sehir',
 'Lise Bolumu',
 'Lise Bolum Diger',
 'Lise Mezuniyet Notu',
 'Baska Bir Kurumdan Burs Aliyor mu?',
 'Burs Aldigi Baska Kurum',
 'Baska Kurumdan Aldigi Burs Miktari',
 'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?',
 'Uye Oldugunuz Kulubun Ismi',
 'Profesyonel Bir Spor Daliyla Mesgul musunuz?',
 'Spor Dalindaki Rolunuz Nedir?',
 'Aktif olarak bir STK üyesi misiniz?',
 "Hangi STK'nin Uyesisiniz?",
 'Stk Projesine Katildiniz Mi?',
 'Girisimcilikle Ilgili Deneyiminiz Var Mi?',
 'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?',
 'Ingilizce Biliyor musunuz?',
 'Ingilizce Seviyeniz?',
 'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite']

In [113]:
cat_but_car = [ col for col in df.columns if df[col].nunique() > 20 and str(df[col].dtypes) in ["category", "object"]]
cat_but_car

['Dogum Yeri',
 'Ikametgah Sehri',
 'Universite Adi',
 'Bölüm',
 'Lise Adi Diger',
 'Lise Sehir',
 'Lise Bolum Diger',
 'Baska Kurumdan Aldigi Burs Miktari',
 'Uye Oldugunuz Kulubun Ismi',
 "Hangi STK'nin Uyesisiniz?",
 'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?',
 'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite']

In [114]:
num_but_cat = [col for col in df.columns if df[col].nunique() < 10 and df[col].dtypes in ["int64", "float64"]]
num_but_cat

['Basvuru Yili',
 'Lise Adi',
 'Lise Turu',
 'Anne Egitim Durumu',
 'Anne Calisma Durumu',
 'Anne Sektor',
 'Baba Egitim Durumu',
 'Baba Calisma Durumu',
 'Baba Sektor',
 'Kardes Sayisi']

In [115]:
cat_cols = cat_cols + num_but_cat

# Kardinalitisi yüksek kategorik verileri listeden atma
cat_cols = [col for col in cat_cols if col not in cat_but_car]
cat_cols

['Universite Turu',
 'Burslu ise Burs Yuzdesi',
 'Burs Aliyor mu?',
 'Universite Not Ortalamasi',
 'Daha Once Baska Bir Universiteden Mezun Olmus',
 'Lise Bolumu',
 'Lise Mezuniyet Notu',
 'Baska Bir Kurumdan Burs Aliyor mu?',
 'Burs Aldigi Baska Kurum',
 'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?',
 'Profesyonel Bir Spor Daliyla Mesgul musunuz?',
 'Spor Dalindaki Rolunuz Nedir?',
 'Aktif olarak bir STK üyesi misiniz?',
 'Stk Projesine Katildiniz Mi?',
 'Girisimcilikle Ilgili Deneyiminiz Var Mi?',
 'Ingilizce Biliyor musunuz?',
 'Ingilizce Seviyeniz?',
 'Basvuru Yili',
 'Lise Adi',
 'Lise Turu',
 'Anne Egitim Durumu',
 'Anne Calisma Durumu',
 'Anne Sektor',
 'Baba Egitim Durumu',
 'Baba Calisma Durumu',
 'Baba Sektor',
 'Kardes Sayisi']